		.myname{
		 	background: orange;
		 	color: black;
		 	height: 100%;
		 	width: 100%;
		 }
		 .uppercase{
		 	text-transform: uppercase;
		 	
		 }

		 #mydiv{
		 	background: yellow;
		 	color: red;

		 }